/* Style the dots by assigning a fill and stroke */
.dot {
  fill: #ffab00;
  stroke: #fff;
}

.dot2 {
  fill: black;
  stroke: #fff;
}

/* Legend */
#legendContainer {
  background-color: #ededed;
  position: absolute;
  bottom: 20px;
  left: 20px;
  border-radius: 5px;
}
.selectionContainer {
  margin: 10px;
  height: 50px;

  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
}

#selectButton {
  border: 1px solid black;
}

#compareSelect {
  border: 1px solid black;
}

#futureButton {
  position: absolute;
  bottom: 20px;
  right: 120px;
  /* margin-left: 20px; */
}

#futureButton:hover {
  background-color: rgb(55, 48, 163);
}

#historyButton {
  position: absolute;
  bottom: 20px;
  right: 10px;
}
